## Name :- Ninad Karlekar
## Task 1: Predict the percentage of a student based on the no. of study hours.

#### Importing Libraries

In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
%matplotlib inline

#### Loading Dataset

In [15]:
url = "http://bit.ly/w-data"
df = pd.read_csv(url)

In [16]:
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

#### Describing Data

In [17]:
df.shape

(25, 2)

In [18]:
df.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [19]:
df.columns

Index(['Hours', 'Scores'], dtype='object')

#### Checking for Null values

In [21]:
df.isnull().sum()

Hours     0
Scores    0
dtype: int64

#### No missing values present in data

#### Plotting the Data